@define-color base00 #303446;
@define-color base01 #292c3c;
@define-color base02 #414559;
@define-color base03 #51576d;
@define-color base04 #626880;
@define-color base05 #c6d0f5;
@define-color base06 #f2d5cf;
@define-color base07 #babbf1;
@define-color base08 #e78284;
@define-color base09 #ef9f76;
@define-color base0A #e5c890;
@define-color base0B #a6d189;
@define-color base0C #81c8be;
@define-color base0D #8caaee;
@define-color base0E #ca9ee6;
@define-color base0F #eebebe;

* {
    font-family:
        "JetBrainsMono Nerd Font", "JetBrainsMono NF", "JetBrainsMonoNerdFont",
        sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background: @base00;
    border: 1px solid @base02;
    border-radius: 10px;
}

tooltip label {
    color: @base05;
    padding: 4px;
}

#cpu,
#custom-exit,
#network {
    background: @base00;
    border-radius: 15px 0px 0px 15px;
    margin: 3px 0px 3px 2px;
    padding: 0px 5px 0px 15px;
}

#memory,
#pulseaudio {
    background: @base00;
    border-radius: 0px 15px 15px 0px;
    margin: 3px 2px 3px 0px;
    padding: 0px 10px 0px 5px;
}

#window,
#clock,
#custom-weather,
#battery,
#tray,
#custom-notification {
    background: @base00;
    border-radius: 15px;
    margin: 3px 4px;
    padding: 0px 12px;
}

#idle_inhibitor,
#custom-recorder {
    background: @base00;
    border-radius: 0px;
    margin: 3px 0px;
    padding: 0px 14px;
}

#workspaces {
    background: @base00;
    border-radius: 15px;
    margin: 3px 4px;
    padding: 0px 4px;
}

#workspaces button {
    background: transparent;
    color: @base05;
    border-radius: 15px;
    margin: 4px 2px;
    padding: 0px 6px;
    opacity: 0.5;
    transition: all 0.25s ease;
}

#workspaces button.active {
    background: @base0E;
    color: @base00;
    min-width: 40px;
    opacity: 1;
}

#workspaces button:hover {
    background: @base03;
    opacity: 0.9;
}

#cpu,
#memory {
    color: @base0D;
}
#window * {
    color: @base0C;
}
#clock {
    color: @base0B;
}

#custom-exit,
#pulseaudio {
    color: @base0A;
}
#custom-weather {
    color: @base09;
}
#battery {
    color: @base0F;
}
#tray,
#network,
#custom-notification {
    color: @base08;
}

#disk {
    color: @base03;
}
#custom-recorder,
#idle_inhibitor {
    color: @base0A;
}
